@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dangrek&display=swap');
body{
    background-color: #8CC461;
    overflow: hidden;
    
}

.score{
    position: relative;
    margin: 0;
    padding: 0;
    top: 90px;
    left:300px;
    border: #FFFFFF solid 2px;
    border-radius: 13px;
    width: 800px;
    height: 158px;
}
.title {
    position: absolute;
    width: 135px;
    top: 5px;
    left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.cscore{
position: absolute;
width: 139px;
height: 128px;
left: 460px;
top: 15px;
text-align: center;
padding-top: 5px;
font-size: 17px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600; 
color: #656565;
background: #FFFFFF;
border-radius: 9px;
line-height: 20px;
letter-spacing: 0.1em;
}
#c {
    position: absolute;
    width: 79px;
    height: 63px;
    left: 30px;
    top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 68px;
    text-align: center;
    color: #252525;
}
.pscore{
    position: absolute;
width: 139px;
height: 128px;
left: 170px;
top: 0px;
text-align: center;
padding-top: 5px;
font-size: 17px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600; 
color: #656565;
background: #FFFFFF;
border-radius: 9px;
line-height: 20px;
letter-spacing: 0.1em;
}
#p{
    position: absolute;
    width: 79px;
    height: 63px;
    left: 30px;
    top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 68px;
    text-align: center;
    color: #252525;

}
.btn{
    position: relative;
    left: 100px;
    bottom: 150px;
    transform: scale(1.2);
}

.rock{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 477px;
    top: 329px;
    background: #FFFFFF;
    background-image: url('/icons/icons8-fist-67\ 1.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
    border: 16px solid #0074B6;
    border-radius: 50%;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
    text-indent: -9999px;
}
.paper{
position: absolute;
width: 110px;
height: 110px;
left: 595px;
top: 533px;
background: #FFFFFF;
background-image:  url('/icons/icons8-hand-64\ 1.png');
background-repeat: no-repeat;
background-position: center;
background-size: 50px;
box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
border: 16px solid #FFA943;
border-radius: 50%;
filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
text-indent: -9999px;
}

.scissor{
position: absolute;
width: 110px;
height: 110px;
left: 713px;
top: 329px;
background: #FFFFFF;
background-image: url('/icons/17911\ 1.png');
/* transform: rotate(5.27deg); */
background-position: center;
background-repeat: no-repeat;
background-size: 30px;
box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
border: 16px solid #BD00FF;
border-radius: 50%;
filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
text-indent: -9999px;
}

.l1{
position: absolute;
width: 140px;
height: 0px;
left: 570px;
top: 380px;
border: 10px solid rgba(0, 0, 0, 0.64);

}
.l2{
position: absolute;
width: 140px;
height: 0px;
left: 490px;
top: 490px;
border: 10px solid rgba(0, 0, 0, 0.64);
transform: rotate(60.58deg);
backface-visibility: hidden;
}
.l3{
position: absolute;
width: 140px;
height: 0px;
left: 640px;
top: 490px;
border: 10px solid rgba(0, 0, 0, 0.64);
transform: rotate(120deg);
backface-visibility: hidden;
}
.rules{
    position: relative;
    bottom: 185px;
    right: 100px;
}
.rulebtn{
position: absolute;
width: 119px;
height: 40px;
left: 1230px;
top: 755px;
border: 2px solid #FFFFFF;
border-radius: 10px;
background-color:#8CC461 ;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
.rulebtn:hover{
    background-color: #2e2a2a7b;
}
.ruleli {
    box-sizing: border-box;
    position: absolute;
    width: 278px;
    height: 325px;
    left: 1050px;
    top: 410px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #004429;
    border: 7px solid #FFFFFF;
    border-radius: 13px;
    color: #FFFFFF;

}
ul{
    list-style:square;
    font-size: 13px;
}
li{
    position: relative;
    top: 55px;
    line-height: 20px;
}
li::marker {
    color: #FFD600;
    font-size: 20px;
  }
  #r {
      position: absolute;
      width: 156px;
      height: 27px;
      left: 61px;
      top: 15px;
      font-style: normal;
      font-weight: 500;
      font-size: 29px;
      line-height: 34px;
      color: #FFFFFF;

  }

.xbtn{
position: absolute;
width: 50px;
height: 50px;
left: 245px;
top :-25px;
background: #FF0000;
border: 5px solid #FFFFFF;
border-radius: 50%;
font-size: 25px;
font-family: 'dangrek';
color: #FFFFFF;
}
.con{
    bottom: 120px;
    left: 50px;
    position: relative;
}
.ellipse {
    position: absolute;
    border-radius: 50%;
    
}

.ellipse.ellipse4 {
    width: 350px;
    height: 350px;
    left: 218px;
    top: 310px;
    background: rgba(46, 154, 37, 0.39);
box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
}

.ellipse.ellipse3 {
    width: 300px;
    height: 300px;
    left: 240px;
    top: 335px;
    background: rgba(29, 168, 43, 0.79);
}

.ellipse.ellipse5 {
    width: 250px;
    height: 250px;
    left: 265px;
    top: 360px;
    background: #3b672014;
}
#utext{
position: absolute;
width: 113px;
height: 16px;
left: 400px;
top: 405px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.1em;
color: #FFFFFF;
}
#ctext{
position: absolute;
width: 100px;
height: 16px;
left: 960px;
top: 406px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.1em;
color: #FFFFFF;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.userchose{
        position: absolute;
        width: 140px;
        height: 140px;
        left: 365px;
        top: 465px;
        background: #FFFFFF;
        /* background-image: url('/icons/17911\ 1.png'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
        border: 16px solid ;
        border-radius: 50%;
        transition: none;
}
.compchose{
    position: absolute;
        width: 140px;
        height: 140px;
        left: 915px;
        top: 465px;
        background: #FFFFFF;
        /* background-image: url('/icons/17911\ 1.png'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
        box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
        border: 16px solid;
        border-radius: 50%;
        filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}

.whowin{
position: absolute;
width: 220px;
height: 36px;
left: 625px;
top: 520px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 46px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.againpc{
position: absolute;
width: 168px;
height: 31px;
left: 655px;
top: 565px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 29px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}
.resplayagain{
position: absolute;
width: 174px;
height: 44px;
left: 655px;
top: 605px;
background: #FFFFFF;
border-radius: 9px;
border: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.1em;
color: #6B6B6B;
}
.nxtbtn{
    box-sizing: border-box;
    position: absolute;
    width: 119px;
    height: 40px;
    left: 1290px;
    top: 740px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}


.cup{
position: absolute;
left: 43.52%;
right: 40.83%;
top: 25.61%;
bottom: 47.15%;
}

.stars{
position: absolute;
width: 504px;
height: 297px;
left: 460px;
top: 110px;
}

#hurray{
position: absolute;
width: 464px;
height: 86px;
left: 486px;
top: 422px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 91px;
line-height: 107px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}

#wonthegame{
position: absolute;
width: 475px;
height: 48px;
left: 486px;
top: 533px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 41px;
line-height: 48px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}
.playagainbtn{
position: absolute;
width: 174px;
height: 44px;
left: 645px;
top: 619px;
background: #FFFFFF;
border-radius: 9px;
border: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing:  0.1em;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
color: #6B6B6B;
}
